extends layout

block content
	.row.main
		.span8.offset2
			.row
				.span1.center
					.profile
						i
							img.face(src="//si0.twimg.com/profile_images/2612276969/fGsCaXoz")
					h6 
						span.title= title
				.span6
					h2.tagline
						i.icon-bolt.yellow
						span.green= tagline
					.content
						ul.content-items
							li.item
								i.icon-user
								a.item-title About
								p.description!= content
	.row.modules.navigation
		.span8.centered.center
			.span2.item(id="projects")
				h4
					i.icon-beaker.green
					span.item-name Projects
			.span2.item(id="groups")
				h4
					i.icon-group.green
					span.item-name Groups
			.span2.item(id="contact-info")
				h4
					i.icon-envelope-alt.green
					span.item-name Contact
	