extends layout

block content
	.row.main
		.span10.offset1
			.row
				.span1.center
					.profile
						i
							img.face(src=image)
					h6 
						span.title= title
					
				.span8
					h2.tagline
						i.icon-bolt.yellow
						span.green= tagline
					.content
						
						
	.row.modules.navigation
		.centered.center.items
			.item.current(id="about")
				h4
					i.icon-user.grey
					span.item-name About
			.item(id="projects")
				h4
					i.icon-beaker.grey
					span.item-name Projects
			.item(id="groups")
				h4
					i.icon-group.grey
					span.item-name Groups
			//- .item(id="blog")
			//- 	h4
			//- 		i.icon-pencil.grey
			//- 		span.item-name Blog
			.item(id="contact-info")
				h4
					i.icon-envelope-alt.grey
					span.item-name Contact
	