doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
    meta(name="google-site-verification", content="yHZsRR0ZGmczLDRVJoeBniaoArsVel0PVYtG2HTaOOE")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Cutive|Open+Sans")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    script var _gaq=[["_setAccount","UA-35031264-1"],["_trackPageview"]];(function(e,a){var c=e.createElement(a),b=e.getElementsByTagName(a)[0];c.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";b.parentNode.insertBefore(c,b)}(document,"script"));
  body
    block content
    script(src="/js/libs/mustache.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
    script(src="/js/scripts.js")