body {
  background: url(../img/patterns/project_paper.png);
  padding: 80px 0 100px;
  font: 14px  'Open Sans', Helvetica, Arial, sans-serif;
  text-shadow: 0px 1px 2px rgba(255,255,255,1);
  overflow-y: scroll;
}

h1{
	color: #444;
	margin-top: 30px;
}

h2,.item-title{
	font-family: "Cutive";
	font-weight: 400;
}

i{
	background: none!important;
}

h4{
	font-weight: 400;
}

.blue{
	color: #08C;
}

.green{
	color: #093;
}

.yellow{
	color: #f89b00;
}

.red{
	color: #DD4B39;
}

.grey{
	color: #999;
}

.center{
	text-align: center;
}

.centered{
	margin: 0 auto;
	float: none;
}

.face{
	max-width: 48px;
	width: 100%;
	border-radius: 100%;
	margin: 0 0 15px 0;
	box-shadow: 0px 1px 2px rgba(0,0,0,.8), inset 0px 1px 10px rgba(255,255,255,.8);
	cursor: pointer;
}

.modules{
	background: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0px;
	box-shadow: 0px 1px 10px rgba(255,255,255,.5);
	left: 0;
	right: 0;
	text-align: center;
}

.modules .items{
	display: -webkit-box; 
	display: -moz-box; 
	display: flexbox;
	/*Not quite working*/
	/*display: -webkit-flex;
	display: flex;*/
	-webkit-box-align: stretch; 
	-webkit-box-orient: horizontal;
	-moz-box-align: stretch; 
	-moz-box-orient: horizontal;
	box-align: stretch; 
	box-orient: horizontal;
	width: 80%;
	cursor: pointer;
}

.modules .item{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	padding: 10px 0;
}

.icon-bolt{
	margin: 12px;
}


.modules .items h4 i{
	line-height: 28px;
	margin: 0 10px 0 0;
}

.content{
	-webkit-transition: opacity .3s ease-in .2s;
	-moz-transition: opacity .3s ease-in .2s;
	-o-transition: opacity .3s ease-in .2s;
	-ms-transition: opacity .3s ease-in .2s;
	transition: opacity .3s ease-in .2s;
}

.content-items{
	list-style-type : none;
	margin: 0;
	padding: 0;
}

.content-items .item{
	padding: 10px 0;
	font-size: 18px;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
}

.content-items .item:hover i{
	color: #f89b00;
	-webkit-transition: color .3s ease-in .2s;
	-moz-transition: color .3s ease-in .2s;
	-o-transition: color .3s ease-in .2s;
	-ms-transition: color .3s ease-in .2s;
	transition: color .3s ease-in .2s;
}

.modules .item{
	border-top: 0px solid #ccc;
	-webkit-transition: all .3s ease-in .2s;
	-moz-transition: all .3s ease-in .2s;
	-o-transition: all .3s ease-in .2s;
	-ms-transition: all .3s ease-in .2s;
	transition: all .3s ease-in .2s;
}

.modules .item h4{
	color: #444;
	-webkit-transition: margin-top .3s ease-in .2s;
	-moz-transition: margin-top .3s ease-in .2s;
	-o-transition: margin-top .3s ease-in .2s;
	-ms-transition: margin-top .3s ease-in .2s;
	transition: margin-top .3s ease-in .2s;
}

.content-items .item i{
	margin: 3px 10px;
	background-image: none;
}

.content-items ul{
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

.content-items ul li{
	border-bottom: 1px solid #ccc;
	padding: 10px 0;

}

.profile{
	position: relative;
}

.description{
	margin: 20px 20px 10px 20px;
}

.current.item{
	border-top-width: 5px;
	margin-bottom: -5px;
}

.current h4{
	margin-top: 5px;
}

.current i {
	color: #DD4B39;
}

.status-update{
	position: absolute;
	width: 300px;
	padding: 10px 10px 20px;
	border-radius: 10px;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,.3);
	top: 110%;
	left: -600%;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s;
	-moz-transition: opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s;
	-o-transition: opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s;
	-ms-transition: opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s;
	transition: opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s;
}

.triangle{
	position: absolute;
	top: 0;
	left: 25px;
	width: 0;
	height:  0;
	border-width: 10px;
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	margin-top: -20px;
}

.status-update i{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}

.show.status-update{
	top: 100%;
	opacity: 1;
	left: 0%;
	-webkit-transition: opacity .3s ease-in, top .5s ease-in-out, left 0s;
	-moz-transition: opacity .3s ease-in, top .5s ease-in-out, left 0s;
	-o-transition: opacity .3s ease-in, top .5s ease-in-out, left 0s;
	-ms-transition: opacity .3s ease-in, top .5s ease-in-out, left 0s;
	transition: opacity .3s ease-in, top .5s ease-in-out, left 0s;
}

@media(max-width: 980px){

	.modules{
		border-top: 1px solid #ddd;
		top: auto;
		bottom: -1px;
		box-shadow: 0px -1px 10px rgba(255,255,255,.5);
		left: 0;
		right: 0;
	}
	
}

@media(max-width: 768px){
	body{
		padding: 20px 0 100px;
	}

	.status-update{
		margin-left: -150px;
	}

	.show.status-update{
		left: 50%;
	}

	.triangle{
		left: 50%;
		margin-left: -20px;
	}

	.row.main{
		width:80%;
		margin: 0 auto;
	}

	.modules .items h4 i{
		margin: 0;
	}
	.modules .item-name{
		display: none;
	}



}



