body {
  background: url(../img/patterns/project_paper.png);
  padding: 80px 0 100px;
  font: 14px  'Open Sans', Helvetica, Arial, sans-serif;
  text-shadow: 0px 1px 2px rgba(255,255,255,1);
  overflow-y: scroll;
}

h2,.item-title{
	font-family: "Cutive";
	font-weight: 400;
}

i{
	background: none!important;
}

h4{
	font-weight: 400;
}

.green{
	color: #093;
}

.yellow{
	color: #f89b00;
}

.red{
	color: #DD4B39;
}

.grey{
	color: #999;
}

.center{
	text-align: center;
}

.centered{
	margin: 0 auto;
	float: none;
}

.face{
	max-width: 48px;
	width: 100%;
	border-radius: 100%;
	margin: 0 0 15px 0;
	box-shadow: 0px 1px 2px rgba(0,0,0,.8), inset 0px 1px 10px rgba(255,255,255,.8);
}

.modules{
	background: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0px;
	box-shadow: 0px 1px 10px rgba(255,255,255,.5);
	left: 0;
	right: 0;
}

.modules .items{
	display: -webkit-box; 
	-webkit-box-align: stretch; 
	-webkit-box-orient: horizontal;
	width: 80%;
}

.modules .item{
	-webkit-box-flex: 1;
	padding: 10px 0;
}

.icon-bolt{
	margin: 12px;
}


.modules .items h4 i{
	line-height: 28px;
	margin: 0 10px 0 0;
}

.content-items{
	list-style-type : none;
	margin: 0;
	padding: 0;
}

.content-items .item{
	padding: 10px 0;
	font-size: 18px;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
}

.modules .item{
	border-top: 0px solid #ccc;
}

.modules .item h4{
	color: #444;
}

.content-items .item i{
	margin: 3px 10px;
	background-image: none;
}

.content-items ul{
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

.content-items ul li{
	border-bottom: 1px solid #ccc;
	padding: 10px 0;

}

.profile{
	position: relative;
}

.description{
	margin: 20px 20px 10px 20px;
}

.current.item{
	border-top-width: 5px;
	margin-bottom: -5px;
}

.current h4{
	margin-top: 5px;
}

.current i {
	color: #DD4B39;
}

@media(max-width: 980px){

	.modules{
		border-top: 1px solid #ddd;
		top: auto;
		bottom: -1px;
		box-shadow: 0px -1px 10px rgba(255,255,255,.5);
		left: 0;
		right: 0;
	}
	
}

@media(max-width: 768px){
	body{
		padding: 20px 0 100px;
	}

	.row.main{
		width:80%;
		margin: 0 auto;
	}

	.modules .items h4 i{
		margin: 0;
	}
	.modules .item-name{
		display: none;
	}



}



