
@import 'nib'
@import './icons.css'

blue = #86c5bc
green = #093
yellow = #fed8a7
orange = #fdbe57
darkOrange = #e38a38
grey = #555
lightGrey = #F3F3F3

@keyframes loading {
  0%{
    border-width 4px
    border-color yellow
    transform translate( 0, 0 )
  }
  50%{
    border-width 8px
    border-color rgba( yellow, .5 )
    transform translate( -4px, -4px )
  }
  100%{
    border-width 4px
    border-color yellow
    transform translate( 0, 0 )
  }
}

p, 
h1,
h3,
h4,
h5,
h6
li
  color #555

body
  background white
  padding 20px 0 100px
  font 14px  'Open Sans', Helvetica, Arial, sans-serif
  text-shadow 0px 1px 2px rgba(255,255,255,1)
  overflow-y scroll
  position relative

  a 
    color blue
    &:hover 
      color darken( blue, 15 )

  // general styles
  h1
    margin-top 30px

  h2,.item-title
    font-family "Cutive"
    font-weight 400

  i
    background none!important

  h4
    font-weight 400

  .blue
    color blue

  .green
    color darkOrange

  .yellow
    color yellow

  .red
    color orange

  .grey
    color grey

  .center
    text-align center

  .centered
    margin 0 auto
    float none

  //navigation

  .modules.navigation 
    z-index 2
    min-width 100%
    background white
    position fixed
    left 0
    right 0
    text-align center
    bottom -1px
    //box-shadow 0px -1px 2px rgba(0,0,0,.1)
    border-top 2px solid yellow
    left 0
    right 0
    &::before
      position absolute
      bottom -20px
      left 5%
      height 20px
      line-height 20px
      min-width 90%
      border-radius(100%)
      content '$'
      box-shadow 0 0 10px lightGrey
    .items
      display -webkit-box 
      display -moz-box 
      display flexbox
      /*Not quite working*/
      /*display -webkit-flex
      display flex*/
      -webkit-box-align stretch 
      -webkit-box-orient horizontal
      -moz-box-align stretch 
      -moz-box-orient horizontal
      box-align stretch 
      box-orient horizontal
      width 80%
      cursor pointer
    .item
      -webkit-box-flex 1
      -moz-box-flex 1
      flex 1
      padding 10px 0
      border-top 0px solid orange
      transition(.3s ease-in .2s)
      &.current
        border-top-width 5px
        margin-bottom -5px
        h4
          margin-top 5px
          i
            color blue
            margin 0
      h4
        transition(.3s ease-in .2s)
        i
          line-height 28px
          margin 0
        .item-name
          display none

  .icon-bolt
    margin 12px

  //main content
  .main
    width 80%
    margin 0 auto
    .tagline
      i
        width 25px
        height 25px 
    //sidebar
    .profile
      position relative
      .face
        max-width 48px
        width 100%
        border-radius 100%
        border 4px solid lightGrey
        margin 0 0 15px 0
        cursor pointer
        box-sizing border-box
        &.loading
          animation-duration .5s
          animation-name loading
          animation-iteration-count infinite
      .status-update
        z-index 5
        position absolute
        width 300px
        padding 10px 10px 5px
        border-radius 4px
        border 2px solid lightGrey
        background #fff
        box-shadow 0px 1px 2px rgba(0,0,0,.1)
        top 110%
        left -600%
        text-align left
        opacity 0
        transition opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s, margin-left 0s ease-in .5s
        margin-left 0px
        &.show
          margin-left -160px
          top 100%
          opacity 1
          left 50%
          transition opacity .3s ease-in, top .5s ease-in-out, left 0s
        i
          position absolute
          bottom 0
          right 5px
          margin 10px  
          cursor pointer   
        .triangle
          position absolute
          top 0
          margin-left -10px
          left 50%
          width 0
          height  0
          border-width 10px
          border-color transparent transparent #fff transparent
          border-style solid
          margin-top -20px
          &:after
            z-index -1
            content ""
            position absolute
            top 0
            margin-left -11px
            left 50%
            width 0
            height  0
            border-width 11px
            border-color transparent transparent lightGrey transparent
            border-style solid
            margin-top -14px

    .content
      position relative
      overflow hidden
      transition height .5s linear
      border-left 1px solid lightGrey
      section
        min-width 100%
        z-index 1
        box-sizing border-box
        border-radius 4px
        padding 0 20px 20px
        position absolute
        top 0
        left 0
        opacity 0
        transform-origin top left
        transform translate( -100%, 0 ) scale( 1 )
        transition transform .5s linear, opacity .5s linear
        &.current
          z-index 2
          transition transform .5s linear .4s, opacity .5s linear .5s
          transform translate( 0, 0 ) scale( 1 )
          opacity 1
        .content-items
          list-style-type  none
          margin 0
          padding 0
          .item
            padding 10px 0
            font-size 18px
            line-height 22px
            border-bottom 1px solid lightGrey
            i
              margin 3px 10px
              background-image none
          .itemhover i
            color grey
            transition(.3s ease-in .2s)
          .description
            margin 20px 20px 10px 20px
          ul
            list-style-type none
            margin 0
            padding 0 20px 20px 20px
            li
              border-bottom 1px solid lightGrey
              padding 10px 0

@media (min-width : 980px)
  body
    padding 80px 0 100px
    .modules.navigation
      top 0px
      bottom auto!important
      //box-shadow 0px 1px 2px rgba(0,0,0,.1)
      border-top 0
      border-bottom 2px solid yellow
      &::before
        bottom auto
        top -21px 
      .item
        border-bottom 0px solid yellow
        height 38px
        &.current
          border-bottom-width 5px
          border-top-width 0
          height 33px
          h4
            margin-top 10px

@media(min-width : 768px)
  body
    .main
      width auto
      margin 0
      .profile
        .status-update
          &.show
            margin-left 0
            left 0
          .triangle
            left 0
            margin-left 15px
    .modules.navigation
      .item, .item.current
        h4 
          i
            margin 0 15px
          .item-name
            display inline
      




