
@import 'nib'

blue = #08c
green = #093
yellow = #f89b00
red = #DD4B39
grey = #999

body 
  background url(../img/patterns/project_paper.png)
  padding 20px 0 100px
  font 14px  'Open Sans', Helvetica, Arial, sans-serif
  text-shadow 0px 1px 2px rgba(255,255,255,1)
  overflow-y scroll
  position relative

  // general styles
  h1
    color #444
    margin-top 30px

  h2,.item-title
    font-family "Cutive"
    font-weight 400

  i
    background none!important

  h4
    font-weight 400

  .blue
    color blue

  .green
    color green

  .yellow
    color yellow

  .red
    color red

  .grey
    color grey

  .center
    text-align center

  .centered
    margin 0 auto
    float none

  //navigation

  .modules.navigation 
    z-index 2
    min-width 100%
    background #fff
    position fixed
    left 0
    right 0
    text-align center
    bottom -1px
    box-shadow 0px -1px 2px rgba(0,0,0,.1)
    left 0
    right 0
    &::before
      position absolute
      bottom -20px
      left 5%
      height 20px
      line-height 20px
      min-width 90%
      border-radius(100%)
      content '$'
      box-shadow 0 0 10px yellow
    .items
      display -webkit-box 
      display -moz-box 
      display flexbox
      /*Not quite working*/
      /*display -webkit-flex
      display flex*/
      -webkit-box-align stretch 
      -webkit-box-orient horizontal
      -moz-box-align stretch 
      -moz-box-orient horizontal
      box-align stretch 
      box-orient horizontal
      width 80%
      cursor pointer
    .item
      -webkit-box-flex 1
      -moz-box-flex 1
      flex 1
      padding 10px 0
      border-top 0px solid #ccc
      transition(.3s ease-in .2s)
      &.current
        border-top-width 5px
        margin-bottom -5px
        h4
          margin-top 5px
          i
            color #DD4B39
            margin 0
      h4
        color #444
        transition(.3s ease-in .2s)
        i
          line-height 28px
          margin 0
        .item-name
          display none

  .icon-bolt
    margin 12px

  //main content
  .main
    width 80%
    margin 0 auto 
    //sidebar
    .profile
      position relative
      .face
        max-width 48px
        width 100%
        border-radius 100%
        margin 0 0 15px 0
        box-shadow 0px 1px 2px rgba(0,0,0,.8), inset 0px 1px 10px rgba(255,255,255,.8)
        cursor pointer
      .status-update
        position absolute
        width 300px
        padding 10px 10px 5px
        border-radius 4px
        border 1px solid #ddd
        background #fff
        box-shadow 0px 1px 2px rgba(0,0,0,.1)
        top 110%
        left -600%
        text-align left
        opacity 0
        transition opacity .5s ease-in, top .5s ease-in-out, left 0s ease-in .5s, margin-left 0s ease-in .5s
        margin-left 0px
        &.show
          margin-left -160px
          top 100%
          opacity 1
          left 50%
          transition opacity .3s ease-in, top .5s ease-in-out, left 0s
        i
          position absolute
          bottom 0
          right 0
          margin 10px     
        .triangle
          position absolute
          top 0
          margin-left -10px
          left 50%
          width 0
          height  0
          border-width 10px
          border-color transparent transparent #fff transparent
          border-style solid
          margin-top -20px

    .content
      transition(.3s ease-in .2s)

      .content-items
        list-style-type  none
        margin 0
        padding 0
        .item
          padding 10px 0
          font-size 18px
          line-height 22px
          border-bottom 1px solid #ddd
          i
            margin 3px 10px
            background-image none
        .itemhover i
          color #f89b00
          transition(.3s ease-in .2s)
        .description
          margin 20px 20px 10px 20px
        ul
          list-style-type none
          margin 0
          padding 0 20px 20px 20px
          li
            border-bottom 1px solid #ccc
            padding 10px 0

@media (min-width : 980px)
  body
    padding 80px 0 100px
    .modules.navigation
      top 0px
      bottom auto!important
      box-shadow 0px 1px 2px rgba(0,0,0,.1)
      &::before
        bottom auto
        top -21px 
      .item
        border-bottom 0px solid #ccc
        height 38px
        &.current
          border-bottom-width 5px
          border-top-width 0
          height 33px

@media(min-width : 768px)
  body
    .main
      width auto
      margin 0
      .profile
        .status-update
          &.show
            margin-left 0
            left 0
          .triangle
            left 0
            margin-left 15px
    .modules.navigation
      .item, .item.current
        h4 
          i
            margin 0 10px
          .item-name
            display inline
      




